.App {
  text-align: center;
}

<<<<<<< HEAD
.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.side-nav-bar{
  width: 20%;
  height: 100%;
  border-right: 1px solid #cecece;
  box-shadow: 4px 3px 10px 1px #cecece;
}
.categories{
  font-style: italic;
  font-size: 14px;
  padding: 10px;
  color: #979797;
}

ul{
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

li{
  display:flex;
  list-style-type: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 15px;
}

li:not(.seller-link):hover{
  background-color: rgb(83, 140, 39);
  color: #fff;
  font-weight: bold;
}


.main-bar{
  flex: 1;
  height: 100%;
  background-color:rgb(245, 247, 249);
}

.book-category-info, .book-info-in-list{
    background-color: '#fff';
    margin: 2%;
    border: 1px solid #cecece;
    box-shadow: 0px 1px 1px 1px #cecece;
    width: 90%;
    height: 35%;
    display: flex;
}

.book-category-info-image-container{
  width: 20%;
  height: 90%;
  margin: auto 10px;
}


.book-category-info-image{
  width: 100%;
  height: 100%;
}

.book-category-info-details{
  flex: 1;
  background-color: #fff;
  height: 100%;
}


.book-category-info-details span, .book-list span{
  font-style: italic;
  color: #999999;
}

.book-list{
  background-color: '#fff';
  margin: 2%;
  border: 1px solid #cecece;
  box-shadow: 0px 1px 1px 1px #cecece;
  width: 90%;
  height: 45%;
  display: flex;
}

.book-info-in-list{
  height: 15% !important;
}

.book-info-in-list-image-container{
  width: 10%;
  height: 100%;
  margin: auto 2px;
}

.book-list ul{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.book-info-in-list-details p{
  margin-top: -2%;
}

.book-info-in-list-image{
  width: 60%;
  height: 100%;
}


.book{
  width: 100%;
  height: 70%;
  display: flex;
  margin: 2%;
}
.book div{
  padding: 1%;
  margin: 0 2%;
}

.book-image-container{
  height: 100%;
  width: 25%;
  
}

.book-details{
  height: 30%;
  width: 35%;
}

.book-seller-details{
  height: 90%;
  width: 20%;
  border: 1px solid #cecece;
}
.buy-btn{
  background-color: #35a935;
  padding: 1% 0;
  color: #fff;
  cursor: pointer;
  height: 30px;
  width: 50px;
  border: 1px solid white;
  border-radius: 10%;
  font-size: 15px;
}
.buy-btn:hover{
  background-color: green;
}

.book-seller-details-links{
  display: flex;
}

.book-seller-details-links ul{
  width: 100%;
=======
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
>>>>>>> create-react-app setup
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
