.App {
  text-align: center;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.side-nav-bar{
  width: 20%;
  height: 100%;
  border-right: 1px solid #cecece;
  box-shadow: 0px 2px 2px 2px #cecece;
}

.main-bar{
  flex: 1;
  height: 100%;
}

li{
  display:flex;
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
